<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AICompanyLLC</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div>
    <h6 id="heading">AICompanyLLC</h6>
    <span id="heading2">Software Engineer Internship</span>  <button id="headerButton" class="btn btn-primary">APPLY NOW</button>
    <p id="heading3">New York City, Paid, 12 weeks</p>
</div>
<div class="col-md-8">
    <form>
    <div class="row">
        <div class="col">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="sarah" id="firstName">
        </div>
        <div class="col">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="smith" id="lastName">
        </div>
    </div>

    <div class="col">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="email" id="email">
    </div>

        <div class="row">
            <div class="col">
                <label for="state">State</label>
                <select class="form-control"  id="state">
                    <option selected>Washington</option>
                    <option>Alabama</option>
                    <option selected>Washington</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                </select>
            </div>
            <div class="col">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" placeholder="smith" id="phone">
            </div>
        </div>

    </form>
</div>
</body>
</html>