
#background{
    background-color: #a8b0ff;
    margin: 0;
}
.image-container{
    padding: 15px;
    height: 100%;
}
#codeBrain{
    height: 100%;
    object-fit: cover;
}
#footer {
background-color: #9898a1;
}

#heading,#heading2,#heading3{
    padding: 10px;
}
#heading2{
    font-size: 20px;
}

#heading3{
    font-size: smaller;
}

#headerButton{

    float: right !important;
    margin-right: 45px;


}
.card{
    margin: 25px; !important;
    background-color: #a8b0ff !important;
}

.card-text{
    font-size: 15px !important;
}

#about,#about2,#about3
{
    font-size: 35px;
    text-align: center;
}
#paragraph1{
    padding-bottom: 20px;
}
#quote1,#quote2,#quote3{
    font-style:italic;
}
#bodyButton{
  margin-bottom: 30px;
}

#personalTitle{
    float: right;
    margin: 20px;
}